header{
    width: 100%;
    text-align: right;
    height: 50px;
    }


*, body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightcoral;
}

nav{
    background-color: darkslategray;

    padding-block: 2%;
}

a{
    text-decoration: none;
    color: blanchedalmond;
    border-right: solid 1px blanchedalmond;
    padding-inline: 2%;
}

a:last-of-type{
    border-right: none;
}

h1{
    margin-top: 27px;
    font-size: 44px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.images_portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 15%;
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
}

.card > img{
    height: auto;
    width: 150px;
}

footer{
    height: 100px;
    background-color: darkseagreen;
    margin-top: 3%;
}

#contacts{
    padding-top: 12px;
    text-align: center;
}